.af-form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 500px;
}

.af-field {
  margin-bottom: 20px;
  max-width: 500px;
}

.af-field-input input::placeholder {
  color: rgba(191, 191, 191, 0.87);
  font-size: 14px;
}

.af-field-input input:not([type=checkbox]):not([type=radio]):focus,
.af-field-input textarea:focus,
.af-field-input select:focus {
  outline: none;
  border-color: #1398b3;
  transition: all 0.5s ease;
}

.af-field-label label {
  margin-bottom: 3px;
  font-weight: 500;
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}

.af-required:after {
  content: "*";
  color: #d2383f;
  margin-left: 3px;
}

.af-field-hint p {
  margin: 0px 0px 6px;
  font-size: 13px;
  color: #9e9e9e;
}

.af-field-input input,
.af-field-input textarea,
.af-field-input select {
  box-sizing: border-box;
}

.af-field-input input:not([type=checkbox]):not([type=radio]),
.af-field-input textarea {
  border-radius: 3px;
  border: 1px solid #dadada;
  background-color: #fbfbfb;
  width: 100%;
  color: #444444;
  font-size: 15px;
  padding: 8px 10px;
}

.af-field-input input:not([type=checkbox]):not([type=radio]) {
  height: 35px;
}

.af-checkbox-option:first-child label,
.af-radio-option:first-child label {
  margin: 0;
}

.af-radio-option label,
.af-checkbox-option label,
.af-boolean-option label {
  font-size: 15px;
  margin: 6px 0;
  box-sizing: border-box;
  line-height: 22px;
  height: 35px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.af-radio-option label,
.af-checkbox-option label {
  text-align: left;
  border-radius: 3px;
}

.af-radio-option label:hover,
.af-checkbox-option label:hover,
.af-boolean-option label:hover {
  background: #eaeaea;
}

.af-radio-option span,
.af-checkbox-option span {
  margin-left: 10px;
}

.af-radio-option input,
.af-checkbox-option input,
.af-boolean-option input,
.af-legal input {
  display: none;
}

.af-radio-option input:checked+label,
.af-checkbox-option input:checked+label {
  transition: all 0.1s ease;
  border-color:#1398b3;
}

.af-radio-option input:checked+label:before,
.af-checkbox-option input:checked+label:before,
.af-legal input:checked+label:before {
  background: #1398b3;
}

.af-radio-option label:before,
.af-checkbox-option label:before {
  content: "";
  background: #fff;
  border: 1px solid #dadada;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  margin-left: 4px;
}

.af-radio-option label:after,
.af-checkbox-option label:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 5px;
  height: 8px;
  margin-left: 9px;
  margin-top: -1px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.af-radio-option input:checked+label:after,
.af-checkbox-option input:checked+label:after,
.af-legal input:checked+label:after {
  opacity: 1;
  transition: all 0.1s ease;
}

.af-radio-option input:checked+label:before,
.af-checkbox-option input:checked+label:before,
.af-legal input:checked+label:before {
  border-color: #1398b3;
}

.af-radio-option label:before {
  border-radius: 50%;
}

.af-dropdown select {
  width: 100%;
  border: 1px solid #dadada;
  background-color: #fbfbfb;
  color: #444444;
  font-size: 15px;
}

.af-dropdown select:not([multiple]){
  padding: 8px 10px;
  height: 35px;
}

.af-rating {
  display: flex;
  margin-top:15px;
}

.af-rating-option {
  display: inline-flex;
  justify-content: center;
  flex: auto;
  cursor:pointer;
}
.af-rating-option svg {
  max-width: 35px;
  padding: 0 5px;
  cursor:pointer;
}

.af-rating:hover .af-rating-option svg, .af-rating-option.af-checked svg {
  fill: #1398b3;
}

.af-rating-option:hover ~ .af-rating-option svg, .af-rating-option svg {
  fill: #cccccc;
}

.af-boolean-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.af-boolean-option label{
  min-width: 70px;
  justify-content: center;
}

.af-boolean-option input:checked+label {
  transition: all 0.1s ease;
  background:#1398b3;
  border-color: #1398b3;
  color: #fff;
}
.af-boolean-option:first-child {
  margin-right: -1px;
}
.af-boolean-option:first-child label {
  border-radius: 3px 0 0 3px;
}
.af-boolean-option:last-child label {
  border-radius: 0 3px 3px 0;
}

.af-boolean-option label {
  font-size: 15px;
  margin: 6px 0;
  box-sizing: border-box;
  line-height: 22px;
  height: 35px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.af-legal label:before {
  content: "";
  background: #fff;
  border: 1px solid #dadada;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  margin-right: 6px;
}

.af-legal label:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 3px;
  height: 8px;
  margin-left: 5px;
  margin-top: -1px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.af-legal label {
  font-size: 14px;
  margin: 8px 0;
  box-sizing: border-box;
  line-height: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.af-button button[type=submit] {
  font-size: 15px;
  padding: 12px 24px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}

.af-step-next button[type=submit] {
  background-color: #1398b3;
  border-color: #1398b3;
  color: #fff;
  position: relative;
}

.af-step-next button[type=submit]:hover {
  color: #fff;
  background-color: #5BBBCD;
  border-color: #5BBBCD;
  transition: all 0.5s ease;
}

.af-step-back button[type=submit] {
  background-color: #e0e1e2;
  border-color: #e0e1e2;
  color: rgba(0, 0, 0, 0.6)
}

.af-step-back button[type=submit]:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #cacbcd;
  border-color: #cacbcd;
  transition: all 0.5s ease;
}

.af-field-error p {
  color: #d2383f;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 2px;
}

.af-step-failure {
  color: #d2383f;
  padding: 0 1em;
  border: 1px solid #d2383f;
  background: #fff6f6;
  border-radius: 3px;
}

.af-step-messages {
  font-size: 15px;
}

.af-step-message {
  margin: 10px 0;
}

.af-step-success {
  color: #318233;
  padding: 0 1em;
  border: 1px solid #2c662d;
  background: #fcfff5;
  border-radius: 3px;
}

.af-step-button {
  display: inline-block;
  margin: 0 15px;
}

.af-step-navigation {
  margin-top: 20px;
  text-align: center;
}

.af-button-ladda {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background: #e0e1e2;
  border-radius: 3px;
  left: -1px;
  opacity: 0;
  top: -1px;
}

@keyframes af-button-ladda {
  to {
    transform: rotate(360deg);
  }
}
.af-button-loading .af-button-ladda{
  opacity: 1;
  transition: all 0.1s ease;
}
.af-button-ladda:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #1398b3;
  animation: af-button-ladda .6s linear infinite;
}

.af-button button[disabled] {
  cursor: not-allowed;
}