:root {
  --primary-color: #1398b3;
  --primary-hover-color: #5BBBCD;
  --input-padding: 8px 10px;
  --input-background:#f6f8f9;
  --input-color:#323d47;
  --input-border:1px solid #d1dbe0;
  --input-border-radius: 3px;
  --input-height:40px;
  --input-font-size: 16px;
  --boolean-background-color: #efefef;
  --dropdown-padding: 2px 40px 2px 10px;
  --dropdown-icon-color:#323d47;
  --dropdown-option-background-color: #949a9e;
  --dropdown-option-background-active-color: #6d7378;
  --dropdown-option-text-color: #ffffff;
  --font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  --border-focus-color: #1398b3;
  --label-color: #323d47;
  --label-font-size: 15px;
  --label-font-weight: 500;
  --label-background-hover-color:#f0f3f5;
  --counter-font-size: 12px;
  --counter-text-color: #444444;
  --counter-warning-color: #f5b800;
  --counter-high-color: #d2383f;
  --hint-color:#949a9e;;
  --hint-font-size:14px;
  --placeholder-color: rgba(50, 61, 71, 0.3);
  --placeholder-focus-color: rgba(50, 61, 71, 0.6);
  --button-font-size:15px;
  --button-font-weight:500;
  --button-border-radius:3px;
  --button-padding: 12px 24px;
  --previous-button-hover-background: #eaeaea;
  --message-fail-color:#d2383f;
  --message-fail-font-size: 14px;
  --message-fail-background-color:#fff6f6;
  --message-success-color:#318233;
  --message-success-background-color:#fcfff5;
}

/*******************************
            Elements
*******************************/

/*--------------------
        Form
---------------------*/

.af-form {
  font-family: var(--font-family);
  max-width: 500px;
}

/*--------------------
        Field
---------------------*/

.af-field {
  margin: 0 0 1.75em;
}

/*--------------------
        Labels
---------------------*/

.af-field-label label {
  display: block;
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
  margin: 0 0 0.3em 0;
  color: var(--label-color);
}

/* Choice/Boolean */

.af-choice-option:first-child label {
  margin: 0;
}

.af-choice-option label,
.af-boolean-option label {
  font-size: var(--label-font-size);
  margin: 6px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px;
  height: var(--input-height);
  cursor: pointer;
}

.af-boolean-option label {
  background: var(--boolean-background-color);
}

.af-legal label {
  font-size: var(--label-font-size);
  margin: 8px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.af-choice-option label {
  text-align: left;
  border-radius: var(--input-border-radius);
}

.af-choice-option label:before {
  content: "";
  background: #fff;
  border: var(--input-border);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin-left: 4px;
}

.af-legal label:before{
  content: "";
  background: #fff;
  border: var(--input-border);
  min-width: 18px;
  height: 18px;
  box-sizing: border-box;
  margin-right: 8px;
}

.af-choice-option label:after,
.af-legal label:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 5px;
  height: 8px;
  margin-top: -1px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.af-choice-option label:after {
  margin-left: 10px;
}

.af-legal label:after {
  margin-left: 5px;
}

.af-choice label:before {
  border-radius: 50%;
}

.af-boolean-option label{
  min-width: 70px;
  justify-content: center;
}

.af-boolean-option:first-child label {
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
}

.af-boolean-option:last-child label {
  border-radius: 0 3px 3px 0;
}

/*--------------------
        Hint
---------------------*/

.af-field-hint p{
  margin: 0 0 0.4em 0;
  font-size: var(--hint-font-size);
  color: var(--hint-color);
}

/*--------------------
    Standard Inputs
---------------------*/
.af-field-input input:not([type]),
.af-field-input input[type="date"],
.af-field-input input[type="email"],
.af-field-input input[type="number"],
.af-field-input input[type="password"],
.af-field-input input[type="tel"],
.af-field-input input[type="time"],
.af-field-input input[type="text"],
.af-field-input input[type="file"],
.af-field-input input[type="url"] {
  width: 100%;
  vertical-align: top;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background);
  font-size: var(--input-font-size);
  padding: var(--input-padding);
  color: var(--input-color);
  box-sizing: border-box;
  font-family: var(--font-family);
  height: var(--input-height);
}

/* Remove inner shadow from inputs on mobile iOS */
.af-field-input textarea,
.af-field-input input[type="text"],
.af-field-input input[type="email"],
.af-field-input input[type="number"],
.af-field-input input[type="tel"],
.af-field-input input[type="url"] {
  -webkit-appearance: none;
}

/* Textarea */

.af-field-input textarea {
  resize: vertical;
  width: 100%;
  vertical-align: top;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background);
  font-size: var(--input-font-size);
  padding: var(--input-padding);
  color: var(--input-color);
  box-sizing: border-box;
  font-family: var(--font-family);
  min-height: 65px;
}

/* Choice/Legal/Boolean */

.af-boolean-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.af-choice-option {
  position: relative;
}

.af-choice-option span {
  margin-left: 10px;
}

.af-choice-option input,
.af-legal input,
.af-boolean input {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  margin: 8px 0 0 10px;
  padding: 0px;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

/* Rating */
.af-rating {
  display: flex;
  margin-top:15px;
}
.af-rating-option {
  display: inline-flex;
  justify-content: center;
  flex: auto;
  cursor:pointer;
}
.af-rating-option svg {
  max-width: 35px;
  padding: 0 5px;
  cursor:pointer;
}

/* Search */
.af-field-input input[type="search"] {
  -webkit-appearance: textfield;
}

.af-field-input input[type="search"]::-webkit-search-decoration,
.af-field-input input[type="search"]::-webkit-search-cancel-button,
.af-field-input input[type="search"]::-webkit-search-results-button,
.af-field-input input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------
       Dropdown
---------------------*/


.af-dropdown select {
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 100%;
  opacity: 0;
  width: 100%;
  max-width: 100%;
  left: 0;
  z-index: -1;
}

.af-dropdown-search-options .af-filtered {
  display:none;
}

.af-dropdown {
  position: relative;
  width: 100%;
  vertical-align: top;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background);
  padding: var(--dropdown-padding);
  box-sizing: border-box;
  text-align: left;
  min-height: var(--input-height);
}

.af-dropdown ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

.af-dropdown ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.af-dropdown ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 0;
}

.af-dropdown-text {
   position: absolute;
   height: calc(var(--input-height) - 2px);
   top: 0;
   left: 0;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: pre;
   display: inline-block;
   width: 100%;
   padding: 8px 40px 8px 10px;
   box-sizing: border-box;
}

.af-dropdown-text.af-default, .af-dropdown-message{
  color: var(--placeholder-color);
}

.af-dropdown a ~ .af-dropdown-text {
  display:none;
}

.af-dropdown-search-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 2px);
    margin: 0 -1px 40px -1px;
    background: #fff;
    border: var(--input-border);
    display:none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 12em;
    z-index: 10;
}

.af-dropdown-search-options div{
    padding: var(--input-padding);
}

.af-dropdown-search-options div:not(.af-dropdown-message){
  cursor:pointer;
}

.af-dropdown-search-options div:hover:not(.af-dropdown-message), .af-dropdown-search-options .af-hover{
    background: var(--label-background-hover-color);
}

.af-dropdown .af-dropdown-search {
    border: none;
    font-size: var(--input-font-size);
    color: var(--input-color);
    background: none;
    padding: 8px 0 0 0;
    position: static;
    font-family: var(--font-family);
    width: 2em;
    max-width: 100%;
}

.af-dropdown .af-dropdown-option-delete {
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
}

.af-dropdown .af-dropdown-option-delete:hover {
  opacity: 0.75;
}

.af-dropdown a {
  padding: 4px 10px;
  margin: 3px 6px 3px 0;
  background: var(--dropdown-option-background-color);
  display: inline-block;
  position: relative;
  color: var(--dropdown-option-text-color);
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.af-dropdown a.af-active{
  background:var(--dropdown-option-background-active-color);
}

.af-dropdown a:focus{
  outline: none;
}

.af-dropdown-icon {
  position: absolute;
  top: 0;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  right: 0;
  width: 40px;
}

.af-dropdown-icon:hover {
  opacity: 0.5;
}

.af-dropdown-icon svg{
  max-width: 14px;
  margin-top: 12px;
  fill: var(--dropdown-icon-color);
}

.af-active {
  display:none;
}

.af-display {
  display:block;
}

/*******************************
            States
*******************************/

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */

.af-form ::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
.af-form :-ms-input-placeholder {
  color: var(--placeholder-color);
}
.af-form ::-moz-placeholder {
  color: var(--placeholder-color);
}
.af-form :focus::-webkit-input-placeholder {
  color: var(--placeholder-focus-color);
}
.af-form :focus:-ms-input-placeholder {
  color: var(--placeholder-focus-color);
}
.af-form :focus::-moz-placeholder {
  color: var(--placeholder-focus-color);
}

/*--------------------
        Focus
---------------------*/

.af-form input:not([type]):focus,
.af-form input[type="date"]:focus,
.af-form input[type="email"]:focus,
.af-form input[type="number"]:focus,
.af-form input[type="password"]:focus,
.af-form input[type="tel"]:focus,
.af-form input[type="time"]:focus,
.af-form input[type="text"]:focus,
.af-form input[type="file"]:focus,
.af-form input[type="url"]:focus,
.af-form textarea:focus {
  outline: none;
  border-color: var(--border-focus-color);
}

/* Search */
.af-field-input input[type="search"]:focus{
  outline:none;
}

/*--------------------
        Hover
---------------------*/

/* Choice/Boolean */
.af-choice-option label:hover,
.af-boolean-option label:hover {
  background: var(--label-background-hover-color);
}

/* Rating */
.af-rating:hover .af-rating-option svg, .af-rating-option.af-checked svg {
  fill: #1398b3;
}

.af-rating-option:hover ~ .af-rating-option svg, .af-rating-option svg {
  fill: #cccccc;
}

/*--------------------
        Checked
---------------------*/

/* Choice/Boolean/Legal */

.af-choice-option input:checked+label {
  transition: border-color 0.1s ease;
  border-color:var(--primary-color);
}

.af-choice-option input:checked+label:before,
.af-legal input:checked+label:before {
  border-color:var(--primary-color);
}

.af-choice-option input:checked+label:before,
.af-legal input:checked+label:before {
  background: var(--primary-color);
  transition: background-color .2s ease;
}

.af-choice-option input:checked+label:after,
.af-legal input:checked+label:after {
  opacity: 1;
  transition: opacity .2s ease;
}

.af-boolean-option input:checked+label {
  transition: all .2s ease;
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

/*--------------------
        Loading
---------------------*/

.af-button-ladda {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--primary-color);
  border-radius: 3px;
  left: 0;
  opacity: 0;
  top: 0;
}

@keyframes af-button-ladda {
  to {
    transform: rotate(360deg);
  }
}
.af-button-loading .af-button-ladda{
  opacity: 1;
  transition: all 0.1s ease;
}
.af-button-ladda:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: var(--primary-color);
  animation: af-button-ladda .6s linear infinite;
}


/*******************************
         Element Types
*******************************/


/*--------------------
     Required Field
---------------------*/

.af-required:after {
  content: "*";
  color: #d2383f;
  margin-left: 3px;
}

/*--------------------
        Buttons
---------------------*/

.af-step-navigation {
  margin: 1.25em 0;
  text-align: center;
}

.af-button button[type=submit], .af-button button[type=button] {
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  text-align: center;
  font-weight: var(--button-font-weight);
  cursor: pointer;
  border: none;
  border-radius: var(--button-border-radius);
}

.af-step-next button[type=submit] {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.af-step-next button[type=submit]:hover {
  color: #fff;
  transition: background-color 0.3s ease;
}

.af-step-previous button[type=button] {
  color: rgba(0, 0, 0, 0.8);
}

.af-step-previous button[type=button]:hover {
  background: var(--previous-button-hover-background);
  transition: background-color 0.3s ease;
}

.af-step-button {
  display: inline-block;
  margin: 0 15px;
}

.af-button button[disabled] {
  cursor: not-allowed;
}

/*--------------------
         Steps
---------------------*/

.af-step-current.af-step {
  display: block;
} 
.af-step-hide.af-step {
  display: none;
}

/*--------------------
        Counter
---------------------*/

.af-counter {
  text-align: right;
  margin: 4px;
  color: var(--counter-text-color);
  float: right;
  font-size: var(--counter-font-size);
  transition: color .3s ease;
}

.af-counter div {
  display: inline-block;
}

.af-counter-separator {
  margin: 0 4px;
}

.af-counter.af-counter-alert {
  color: var(--counter-high-color);
}

.af-counter.af-counter-warning{
  color: var(--counter-warning-color);
}

/*--------------------
        Messages
---------------------*/

.af-field-error p {
  color: var(--message-fail-color);
  font-size: var(--message-fail-font-size);
  margin-top: 6px;
  padding-left: 2px;
}

.af-step-failure {
  color: var(--message-fail-color);
  padding: 0 1em;
  border: 1px solid var(--message-fail-color);
  background: #fff6f6;
  border-radius: var(--button-border-radius);
}

.af-step-messages {
  font-size: var(--input-font-size);
}

.af-step-message {
  margin: 10px 0;
}

.af-step-success {
  color: var(--message-success-color);
  padding: 0 1em;
  border: 1px solid var(--message-success-color);
  background: var(--message-success-background-color);
  border-radius: var(--button-border-radius);
}
